@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gogh';
  src: url('../fonts/Gogh/Gogh-ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}


.dot {
  position: relative;
  width: 8px; 
  height: 8px; 
  background-color: #39ff14; 
  border-radius: 50%; 
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 16px;

}

.credits-slider .swiper-wrapper {
  padding-top: 20px;
}

.credits-slider .swiper-slide {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.credits-slider .swiper-slide:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 1;
}

.credits-slider .swiper-slide:first-of-type:hover .excerpt {
  padding-left: 20px;
}


.fixed-height {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.excerpt {
  display: none;
}

.credits-slider .swiper-slide:hover .excerpt {
  display: block;
  font-size: 12px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}


.overlay {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 50; 
}

footer svg:hover {
  fill: white;
}

footer path:hover {
  fill: white;
}


nav path:hover {
  fill: white;
}